[project]
	description = Mines Stackoverflow for recognizing trends and patterns.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sagarvikani (sagarvikani)
[access "refs/for/refs/*"]
	read = group user/sagarvikani (sagarvikani)
	push = group user/sagarvikani (sagarvikani)
	label-Code-Review = -2..+2 group user/sagarvikani (sagarvikani)
	label-Verified = -1..+1 group user/sagarvikani (sagarvikani)
	rebase = group user/sagarvikani (sagarvikani)
	removeReviewer = group user/sagarvikani (sagarvikani)
	submit = group user/sagarvikani (sagarvikani)
[access "refs/heads/*"]
	read = group user/sagarvikani (sagarvikani)
	create = group user/sagarvikani (sagarvikani)
	push = +force group user/sagarvikani (sagarvikani)
	pushMerge = group user/sagarvikani (sagarvikani)
[access "refs/tags/*"]
	push = +force group user/sagarvikani (sagarvikani)
	pushTag = group user/sagarvikani (sagarvikani)
	pushSignedTag = group user/sagarvikani (sagarvikani)
